<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="保存" class="btn btn-primary" onclick="submit_info()">
                    <i class="fa fa-save"></i>
                </button>
                <a href="<?php echo $entrance; ?>route=Vender/System/Website<?php echo $url; ?>" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>首页</h1>
            <ul class="breadcrumb">
                <li><a href="<?php echo $entrance; ?>route=Vender/System/Website">网站设置</a></li>
                <li><a href="<?php echo $entrance; ?>route=Vender/System/Website/add_website<?php echo $url; ?>">新增网站设置</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="alert-success"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="alert alert-danger" style="display: none;">
            <i class="fa fa-exclamation-circle"></i>
            <span id="alert-danger"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    新增网站设置
                </h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" id="form_info" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">常规</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="default">
                                        <li class="active">
                                            <a href="#tab-customer" data-toggle="tab">常规</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-title">网店名称</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="title" value="" placeholder="网店名称" id="input-title" class="form-control" maxlength="20">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-website_url">网站地址 URL</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="url" value="<?php echo HTTP_SERVER; ?>" placeholder="网站地址 URL" id="input-website_url" class="form-control" maxlength="50">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-meta_title">Meta 标题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="meta_title" value="" placeholder="Meta 标题" id="input-meta_title" class="form-control" maxlength="20">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-meta_description">Meta Tag 描述</label>
                                                <div class="col-sm-10">
                                                    <textarea name="meta_description" rows="5" placeholder="Meta Tag 描述" id="input-meta_description" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-meta_keyword">Meta Tag 关键词</label>
                                                <div class="col-sm-10">
                                                    <textarea name="meta_keyword" rows="5" placeholder="Meta Tag 关键词" id="input-meta_keyword" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="tab-pane active" id="tab-image">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label" for="input-logo">网店图标</label>
                                                    <div class="col-sm-10">
                                                        <a href="" id="thumb-logo" data-toggle="image" class="img-thumbnail" data-original-title="" title="">
                                                            <img src="<?php echo NO_IMAGE; ?>" alt="" title="" data-placeholder="<?php echo NO_IMAGE; ?>">
                                                        </a>
                                                        <input type="hidden" name="website_logo" value="" id="input-logo">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label" for="input-icon"><span data-toggle="tooltip" title="" data-original-title="Icon图标必须为尺寸 16px x 16px 的PNG图片。">Icon</span></label>
                                                    <div class="col-sm-10">
                                                        <a href="" id="thumb-icon" data-toggle="image" class="img-thumbnail">
                                                            <img src="<?php echo NO_IMAGE; ?>" alt="" title="" data-placeholder="<?php echo NO_IMAGE; ?>">
                                                        </a>
                                                        <input type="hidden" name="website_icon" value="" id="input-icon">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-status">
                                                    状态
                                                </label>
                                                <div class="col-sm-10">
                                                    <select name="status" id="input-status" class="form-control">
                                                        <option value>请选择</option>
                                                        <?php foreach ($settings['setting_website_status']['infos'] as $status) : ?>
                                                            <option value="<?php echo $status['key']; ?>"><?php echo $status['value']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function submit_info()
    {
        st.post('<?php echo $entrance; ?>route=Vender/System/Website/do_add_website', $('#form_info').serializeArray(), function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var other_error = '';
                $.each(data.result, function(i, e){
                    if (i == 'other_error') {
                        other_error = ',' + e;
                    } else {
                        $('[name='+i+']').next().html(e);
                        $('[name='+i+']').next().fadeIn();
                        $('[name='+i+']').parent().parent().addClass('has-error');
                    }
                });

                $("#alert-danger").html('新增网站设置失败,请查看错误信息'+other_error);
                $("#alert-danger").parent().fadeIn();
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/System/Website<?php echo $url; ?>";
            }
        });
    }
</script>
<style>
    .text-danger {
        display: none;
    }
</style>
<?php echo $footer_page; ?>