<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
            <div class="pull-right">
                <a href="<?php echo $entrance; ?>route=Admin/User/Baby/add_baby<?php echo $url; ?>" data-toggle="tooltip" title="新增" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
                <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确定要删除吗？') ? remove_some() : false;">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
			<h1>首页</h1>
			<ul class="breadcrumb">
				<li><a href="<?php echo $entrance; ?>route=Admin/User/User">会员</a></li>
				<li><a href="<?php echo $entrance; ?>route=Admin/User/Baby<?php echo $url; ?>">会员、Baby</a></li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">

		<div class="alert alert-danger" style="display: none;">
			<i class="fa fa-exclamation-circle"></i>
			<span id="error_info"></span>
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
		</div>

        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="success_info"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i>
                    会员、Baby列表
				</h3>
			</div>
			<div class="panel-body">
				<div class="well">
					<div class="row">
                        <form id="search_info">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="input-name">宝宝姓名</label>
                                    <input type="text" name="filter_name" value="<?php echo $filter_name; ?>" placeholder="宝宝姓名" id="input-name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="input-age">年龄</label>
                                    <input type="text" name="filter_age" value="<?php echo $filter_age; ?>" placeholder="年龄" id="input-age" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="input-date-birthday">出生日期</label>
                                    <div class="input-group date">
                                        <input type="text" name="filter_birthday" value="<?php echo $filter_birthday; ?>" placeholder="出生日期" data-date-format="YYYY-MM-DD" id="input-date-birthday" class="form-control" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="input-date-added">添加日期</label>
                                    <div class="input-group date">
                                        <input type="text" name="filter_create_time" value="<?php echo $filter_create_time; ?>" placeholder="添加日期" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                                        <span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
                                    </div>
                                </div>
                                <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> 筛选 </button>
                            </div>
                        </form>
					</div>
				</div>
				<form method="post" enctype="multipart/form-data" id="form_info">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">父丶母信息</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">宝宝姓名</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">年龄</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)"><?php echo $settings['setting_userbaby_sex']['title']; ?></a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">出生年月</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">添加日期</a>
                                    </td>
                                    <td class="text-right">操作</td>
                                </tr>
							</thead>
							<tbody>
							<?php if ($babys) : ?>
                                <?php foreach ($babys as $baby) : ?>
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected" value="<?php echo $baby['baby_id']; ?>"/>
                                        </td>
                                        <td class="text-left">
                                            <a href="<?php echo $entrance; ?>route=Admin/User/User/edit_user&user_id=<?php echo $baby['user_id']; ?>">
                                                <i class="fa fa-user"></i>&nbsp;<?php echo $baby['parent_name']; ?>&nbsp;&nbsp;&nbsp;
                                                <i class="fa fa-phone"></i>&nbsp;<?php echo $baby['tel']; ?>
                                            </a>
                                        </td>
                                        <td class="text-left"><?php echo $baby['name']; ?></td>
                                        <td class="text-left"><?php echo $baby['age']; ?></td>
                                        <td class="text-left">
                                            <?php foreach ($settings['setting_userbaby_sex']['infos'] as $userbaby_sex) : ?>
                                                <?php if ($userbaby_sex['setting_id'] == $baby['sex']) : ?>
                                                    <?php echo $userbaby_sex['value']; ?>
                                               <?php endif; ?>
                                            <?php endforeach; ?>
                                        </td>
                                        <td class="text-left"><?php echo $baby['birthday']; ?></td>
                                        <td class="text-left"><?php echo $baby['create_time']; ?></td>
                                        <td class="text-right">
                                            <a href="<?php echo $entrance; ?>route=Admin/User/Baby/edit_baby&baby_id=<?php echo $baby['baby_id']; ?><?php echo $url; ?>" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="<?php echo $entrance; ?>route=Admin/User/BabySensitivePeriod&filter_name=<?php echo $baby['name']; ?>&filter_parent_name=<?php echo $baby['parent_name']; ?>" data-toggle="tooltip" title="宝宝敏感期管理" class="btn btn-primary">
                                                <i class="fa fa-exclamation-circle"></i>
                                            </a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确定要删除吗？') ? remove_one('<?php echo $baby[baby_id]; ?>') : false;">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
							<?php else: ?>
                                <tr>
                                    <td class="text-center" colspan="8">没有符合条件的结果！</td>
                                </tr>
							<?php endif; ?>
							</tbody>
						</table>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
					<div class="col-sm-6 text-right"><?php echo $results; ?></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    $(document).ready(function(data)
        {
            var success_info = '<?php echo $success_info; ?>';
            var error_info = '<?php echo $error_info; ?>';

            if (!!success_info) {
                show_success_dom(success_info);
            }

            if (!!error_info) {
                show_error_dom(error_info);
            }
        }
    );

    var remove_one_click = true;
    function remove_one(baby_id)
    {
        if (!baby_id) {
            show_error_dom('请选择要删除的数据！');
            return false;
        }

        if (!remove_one_click)
            return false;

        remove_one_click = false;

        st.post('<?php echo $entrance; ?>route=Admin/User/Baby/remove_one', {baby_id:baby_id}, function(data){
            if (data.status == -1) {
                show_error_dom(data.result);
                remove_one_click = true;
            } else {
                window.location.href = '<?php echo $entrance; ?>route=Admin/User/Baby<?php echo $url; ?>';
            }
        });
    }

    var remove_some_click = true;
    function remove_some()
    {
        var checked = [];
        $.each($("input:checkbox[name=selected]:checked"), function(i, e){
            checked.push(parseInt($(e).val()));
        });

        if (checked.length <= 0) {
            show_error_dom('请选择要删除的数据！');
            return false;
        }

        if (!remove_some_click)
            return false;

        remove_some_click = false;

        st.post('<?php echo $entrance; ?>route=Admin/User/Baby/remove_some', {baby_ids:checked}, function(data){
            if (data.status == -1) {
                show_error_dom(data.result);
                remove_some_click = true;
            } else {
                window.location.href = '<?php echo $entrance; ?>route=Admin/User/Baby<?php echo $url; ?>';
            }
        });
    }
</script>
<script type="text/javascript">
    $('#button-filter').on('click', function() {
        var search_param = $("#search_info").serializeArray();
        var search_url = '<?php echo $entrance; ?>route=Admin/User/User';

        if (!!search_param) {
            $.each(search_param, function(i, v){
                if (!!v.value) search_url += '&' + v.name + '=' + v.value;
            });
        }

        window.location.href = search_url;
    });
</script>
<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });
</script>

<?php echo $footer_page; ?>