<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
            <div class="pull-right">
                <a href="<?php echo $entrance; ?>route=Admin/User/Card/add_card<?php echo $url; ?>" data-toggle="tooltip" title="新增" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                </a>
                <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确定要删除吗？') ? remove_some() : false;">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
			<h1>首页</h1>
			<ul class="breadcrumb">
				<li><a href="<?php echo $entrance; ?>route=Admin/User/Card">宝宝办卡、续卡</a></li>
			</ul>
		</div>
	</div>
	<div class="container-fluid">

		<div class="alert alert-danger" style="display: none;">
			<i class="fa fa-exclamation-circle"></i>
			<span id="error_info"></span>
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
		</div>

        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="success_info"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-list"></i>
                    宝宝办卡、续卡
				</h3>
			</div>
			<div class="panel-body">
				<div class="well">
					<div class="row">
                        <form id="search_info">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="input-baby">
                                        <span data-toggle="tooltip" title="请填写宝宝姓名,自动匹配到相关的信息,然后选择">
                                            宝宝信息
                                        </span>
                                    </label>
                                    <input type="text" name="filter_baby" value="<?php echo $filter_baby; ?>" placeholder="宝宝信息" id="input-baby" class="form-control" />
                                    <input type="hidden" name="filter_baby_id" value="<?php echo $filter_baby_id; ?>"/>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="input-status">会员卡种</label>-->
                                    <!--<select name="filter_setting_id" id="input-status" class="form-control">-->
                                        <!--<option value>请选择</option>-->
                                            <!--<?php foreach ($settings['setting_user_card_type']['infos'] as $user_card) : ?>-->
                                            <!--<?php if ($user_card['setting_id'] == $filter_setting_id) : ?>-->
                                                <!--<option value="<?php echo $user_card['setting_id']; ?>" selected="selected"><?php echo $user_card['value']; ?></option>-->
                                            <!--<?php else: ?>-->
                                                <!--<option value="<?php echo $user_card['setting_id']; ?>"><?php echo $user_card['value']; ?></option>-->
                                            <!--<?php endif; ?>-->
                                        <!--<?php endforeach; ?>-->
                                    <!--</select>-->
                                <!--</div>-->
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label" for="input-card_number">
                                        <span data-toggle="tooltip" title="请填写完成卡号,精确匹配">
                                            会员卡号
                                        </span>
                                    </label>
                                    <input type="text" name="filter_card_number" value="<?php echo $filter_card_number; ?>" placeholder="会员卡号" id="input-card_number" class="form-control" />
                                    <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> 筛选 </button>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="input-times">-->
                                        <!--<span data-toggle="tooltip" title="请填写1~11位纯数字,精确匹配">-->
                                            <!--续卡次数-->
                                        <!--</span>-->
                                    <!--</label>-->
                                    <!--<input type="text" name="filter_times" value="<?php echo $filter_times; ?>" placeholder="续卡次数" id="input-times" class="form-control" />-->
                                <!--</div>-->
                            </div>
                            <!--<div class="col-sm-3">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="input-date-card_start_time">办卡时间</label>-->
                                    <!--<div class="input-group date">-->
                                        <!--<input type="text" name="filter_card_start_time" value="<?php echo $filter_card_start_time; ?>" placeholder="添加日期" data-date-format="YYYY-MM-DD" id="input-date-card_start_time" class="form-control" />-->
                                        <!--<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="input-date-card_end_time">到期日期</label>-->
                                    <!--<div class="input-group date">-->
                                        <!--<input type="text" name="filter_card_end_time" value="<?php echo $filter_card_end_time; ?>" placeholder="添加日期" data-date-format="YYYY-MM-DD" id="input-date-card_end_time" class="form-control" />-->
                                        <!--<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-3">-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label" for="input-date-added">添加日期</label>-->
                                    <!--<div class="input-group date">-->
                                        <!--<input type="text" name="filter_create_time" value="<?php echo $filter_create_time; ?>" placeholder="添加日期" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />-->
                                        <!--<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> 筛选 </button>-->
                            <!--</div>-->
                        </form>
					</div>
				</div>
				<form method="post" enctype="multipart/form-data" id="form_info">
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" />
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">会员信息</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)"><?php echo $settings['setting_user_card_type']['title']; ?></a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">会员卡号</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">办卡费用</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">卡种可用次数</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">续卡次数</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">办卡时间</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">到期时间</a>
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)">添加日期</a>
                                    </td>
                                    <td class="text-right">操作</td>
                                </tr>
							</thead>
							<tbody>
							<?php if ($cards) : ?>
                                <?php foreach ($cards as $card) : ?>
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected" value="<?php echo $card['user_card_id']; ?>"/>
                                        </td>
                                        <td class="text-left">
                                            <a href="<?php echo $entrance; ?>route=Admin/User/Baby/edit_baby&user_id=<?php echo $card['user_id']; ?>&baby_id=<?php echo $card['baby_id']; ?>">
                                                <i class="fa fa-child"></i>&nbsp;<?php echo $card['name']; ?>&nbsp;&nbsp;&nbsp;
                                                <i class="fa fa-user"></i>&nbsp;<?php echo $card['parent_name']; ?>&nbsp;&nbsp;&nbsp;
                                                <i class="fa fa-phone"></i>&nbsp;<?php echo $card['tel']; ?>
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <?php foreach ($settings['setting_user_card_type']['infos'] as $catd_type) : ?>
                                                <?php if ($catd_type['setting_id'] == $card['setting_id']) : ?>
                                                    <?php echo $catd_type['value']; ?>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        </td>
                                        <td class="text-left"><?php echo $card['card_number']; ?></td>
                                        <td class="text-left"><?php echo $card['money']; ?></td>
                                        <td class="text-left"><?php echo $card['remaining_times']; ?></td>
                                        <td class="text-left"><?php echo $card['times']; ?></td>
                                        <td class="text-left"><?php echo $card['card_start_time']; ?></td>
                                        <td class="text-left"><?php echo $card['card_end_time']; ?></td>
                                        <td class="text-left"><?php echo $card['create_time']; ?></td>
                                        <td class="text-right">
                                            <a href="<?php echo $entrance; ?>route=Admin/User/Card/edit_card&user_card_id=<?php echo $card['user_card_id']; ?><?php echo $url; ?>" data-toggle="tooltip" title="查看" class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="<?php echo $entrance; ?>route=Admin/User/ContinuedCard&user_card_id=<?php echo $card['user_card_id']; ?><?php echo $url; ?>" data-toggle="tooltip" title="续卡" class="btn btn-primary">
                                                <i class="fa fa-credit-card"></i>
                                            </a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确定要删除吗？') ? remove_one('<?php echo $card[user_card_id]; ?>') : false;">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
							<?php else: ?>
                                <tr>
                                    <td class="text-center" colspan="8">没有符合条件的结果！</td>
                                </tr>
							<?php endif; ?>
							</tbody>
						</table>
					</div>
				</form>
				<div class="row">
					<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
					<div class="col-sm-6 text-right"><?php echo $results; ?></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    var find_result = [];
    $('input[name=\'filter_baby\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: '<?php echo $entrance; ?>route=Admin/User/Card/autocomplete_baby&filter_param=' + request,
                dataType: 'json',
                success: function(json) {
                    find_result = json.result;
                    $('input[name=\'filter_baby_id\']').attr('value', '');
                    response($.map(json.result, function(item) {
                        return {
                            label: '<i class="fa fa-child"></i>&nbsp;' + item['name']+'&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;'+item['parent_name']+'&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;' + item['tel'],
                            value: item['baby_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'filter_baby\']').val(find_result[item['value']]['name']);
            $('input[name=\'filter_baby_id\']').val(item['value']);
        }
    });
</script>
<script>
    $(document).ready(function(data)
        {
            var success_info = '<?php echo $success_info; ?>';
            var error_info = '<?php echo $error_info; ?>';

            if (!!success_info) {
                show_success_dom(success_info);
            }

            if (!!error_info) {
                show_error_dom(error_info);
            }
        }
    );

    var remove_one_click = true;
    function remove_one(user_card_id)
    {
        if (!user_card_id) {
            show_error_dom('请选择要删除的数据！');
            return false;
        }

        if (!remove_one_click)
            return false;

        remove_one_click = false;

        st.post('<?php echo $entrance; ?>route=Admin/User/Card/remove_one', {user_card_id:user_card_id}, function(data){
            if (data.status == -1) {
                show_error_dom(data.result);
                remove_one_click = true;
            } else {
                window.location.href = '<?php echo $entrance; ?>route=Admin/User/Card<?php echo $url; ?>';
            }
        });
    }

    var remove_some_click = true;
    function remove_some()
    {
        var checked = [];
        $.each($("input:checkbox[name=selected]:checked"), function(i, e){
            checked.push(parseInt($(e).val()));
        });

        if (checked.length <= 0) {
            show_error_dom('请选择要删除的数据！');
            return false;
        }

        if (!remove_some_click)
            return false;

        remove_some_click = false;

        st.post('<?php echo $entrance; ?>route=Admin/User/Card/remove_some', {user_card_ids:checked}, function(data){
            if (data.status == -1) {
                show_error_dom(data.result);
                remove_some_click = true;
            } else {
                window.location.href = '<?php echo $entrance; ?>route=Admin/User/Card<?php echo $url; ?>';
            }
        });
    }
</script>
<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });
</script>

<?php echo $footer_page; ?>