<?php echo $header_page; ?>

<div id="content">
	<div class="container-fluid"><br />
		<br />
		<div class="row">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title"><i class="fa fa-lock"></i> 请输入注册信息。</h1>
					</div>
					<div class="panel-body">
						<div class="alert alert-danger" style="display: none;">
							<i class="fa fa-exclamation-circle"></i>
							<span id="error_info"></span>
							<button type="button" class="close" data-dismiss="alert">
								&times;
							</button>
						</div>

						<div class="alert alert-success" style="display: none;">
							<i class="fa fa-check-circle"></i>
							<span id="success_info"></span>
							<button type="button" class="close" data-dismiss="alert">
								&times;
							</button>
						</div>

						<form action="" method="post" enctype="multipart/form-data" id="form_info">
							<div class="form-group">
								<label>手机号</label>
								<div class="input-group"></span>
									<input type="text" name="tel" value="<?php echo $register_vender_info['tel']; ?>" placeholder="手机号" id="input-tel" class="form-control" maxlength="20" readonly/>
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>名称</label>
								<div class="input-group">
									<input type="text" name="name" value="<?php echo $company_info['name']; ?>" placeholder="名称" id="input-name" class="form-control" maxlength="50">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>类型</label>
								<div class="input-group">
									<input type="text" name="type" value="<?php echo $company_info['type']; ?>" placeholder="类型" id="input-type" class="form-control" maxlength="50">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>住所</label>
								<div class="input-group">
									<input type="text" name="address" value="<?php echo $company_info['address']; ?>" placeholder="住所" id="input-address" class="form-control" maxlength="50">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>法定代表人</label>
								<div class="input-group">
									<input type="text" name="legal_person" value="<?php echo $company_info['legal_person']; ?>" placeholder="法定代表人" id="input-legal_person" class="form-control" maxlength="10">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>注册资本</label>
								<div class="input-group">
									<input type="text" name="registered_capital" value="<?php echo $company_info['registered_capital']; ?>" placeholder="注册资本" id="input-registered_capital" class="form-control" maxlength="20">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>成立日期</label>
								<div class="input-group">
									<input type="text" name="date_time" value="<?php echo $company_info['date_time']; ?>" placeholder="成立日期" id="input-date_time" class="form-control" maxlength="20">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="form-group">
								<label>营业期限</label>
								<div class="input-group">
									<input type="text" name="operating_period" value="<?php echo $company_info['operating_period']; ?>" placeholder="营业期限" id="input-operating_period" class="form-control" maxlength="10">
									<div class="text-danger"></div>
								</div>
							</div>
							<div class="text-right">
								<button type="button" class="btn btn-primary" onclick="submit_info()"><i class="fa fa-key"></i></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    var is_click = false;
    function submit_info()
    {
        //if (is_click) return false;
        is_click = true;

        var param = {
            name : $("input[name=name]").val(),
            type : $("input[name=type]").val(),
            address : $("input[name=address]").val(),
            legal_person : $("input[name=legal_person]").val(),
            registered_capital : $("input[name=registered_capital]").val(),
            date_time : $("input[name=date_time]").val(),
            operating_period : $("input[name=operating_period]").val(),
        }

        st.post('<?php echo $entrance; ?>route=Vender/Account/Account/do_add_register_step2', param, function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var other_error = '';
                $.each(data.result, function(i, e){
                    if (i == 'other_error') {
                        //other_error = ',' + e;
                        window.location.href = "<?php echo $entrance; ?>route=Vender/Account/Account/register";
						return false;
                    } else {
                        $('[name='+i+']').next().html(e);
                        $('[name='+i+']').next().fadeIn();
                        $('[name='+i+']').parent().parent().addClass('has-error');
                    }
                });

                $('#error_info').html(data.result);
                $("#alert-danger").html('错误信息'+other_error);
                $('.alert-danger').fadeIn();
                $('.alert-success').fadeOut();
                is_click = false;
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Account/Account/login";
            }
        });
    }

    $(document).ready(function(){
        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {
                $('.btn-primary').trigger('click');
            }
        }

        var success_info = '<?php echo $success_info; ?>';
        var error_info = '<?php echo $error_info; ?>';

        if (!!success_info) {
            show_success_dom(success_info);
        }

        if (!!error_info) {
            show_error_dom(error_info);
        }
    });
</script>
</body>
</html>