<?php echo $header_page; ?>
<div class="login-box" >
	<div class="row">
		<div class="span8 offset2">
			<form class="form-horizontal" id="form_info">
				<fieldset>
					<legend>请输入账号密码登入聊天室</legend>
					<div class="control-group">
						<label class="control-label">账号</label>
						<div class="controls" style="margin-bottom: 10px;">
							<input type="text" class="input-xlarge" name="username" value="">
						</div>

						<label class="control-label">密码</label>
						<div class="controls" style="margin-bottom: 10px;">
							<input type="password" class="input-xlarge"name="password" value="">
						</div>

						<label class="control-label">确认密码</label>
						<div class="controls" style="margin-bottom: 10px;">
							<input type="password" class="input-xlarge"name="confirm_password" value="">
						</div>
					</div>
					<div class="form-actions">
						<a href="javascript:void(0)" class="btn btn-primary" onclick="submit_info()">注册</a>
						<a href="index.php?route=Front/Index/Home" class="btn btn-primary">返回</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<script>
	var is_click = false;
	function submit_info () {
		if (!$("input[name=username]").val()) {
			alert('请填写账号。');
			return false;
		}

		if (!$("input[name=password]").val()) {
			alert('请填写密码。');
			return false;
		}

		if ($("input[name=password]").val() != $("input[name=confirm_password]").val()) {
			alert('两次密码输入不相同。');
			return false;
		}

		//if (is_click) return false;
		is_click = true;

		st.get('index.php?route=Vender/Account/Account/do_register',$("#form_info").serializeArray(),function(data){
			alert(data.result);

			if (data.status == -1) {
				is_click = false;
			}else{
				window.location.href = "index.php?route=Vender/Account/Account/login";
			}
		});
	}
</script>
</body>
</html>