<?php echo $header_page; ?>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">接待详情</h4>
    <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation" class="btn btn-link navbar-btn pull-left">返回</a>
    <a href="javascript:void(0)" class="btn btn-link navbar-btn pull-right"><i class="nc-icon-outline media-1_camera-20"></i> 拍照</a>
</header>
<main class="main">
    <div class="container-fluid">
        <form class="form-horizontal" id="form_info">
            <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><label>接车问诊单</label></span>
                    <input type="text" class="form-control" name="image_path" value="http://www.baidu.com/"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><label>手机号码</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['tel']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>会员编号</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['numbering']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>预约时间</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['reservation_time']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>号码号牌</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['plate_number']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>车辆类型</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['car_type']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>使用性质</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['use_type']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>品牌型号</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['brand_type']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>识别号码</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['identification_number']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>发动机号码</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['engine_number']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>总质量</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['total_mass']; ?>" readonly>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label>外观尺寸</label></span>
                    <input type="text" class="form-control" value="<?php echo $reservation_info['dimension']; ?>" readonly>
                </div>
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-block" onclick="submit_info()">接待</button>
    </div>

</main>

<script>
    $(function () {
        function getRandomColor() {
            var c = '#';
            var cArray = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'A', 'B', 'C', 'D', 'E', 'F'];
            for (var i = 0; i < 6; i++) {
                var cIndex = Math.round(Math.random() * 15);
                c += cArray[cIndex];
            }
            return c;
        }
        $('.links-201709210944 .nc-icon-outline').each(function () {
            $(this).css('background-color', getRandomColor()).css('color', '#ffffff');
        });

    });

    $(function () {
        $('.list-group-201709211109 > .list-group-item').hover(function () {
            $(this).addClass('open').siblings().removeClass('open');
        });
    });
</script>
<script>
    function submit_info()
    {
        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Reservation/do_edit_reservation', $('#form_info').serializeArray(), function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var return_error = '';
                $.each(data.result, function(i, e) {
                    return_error = e;
                    return false;
                });
                alert(return_error);
                is_click = false;
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Reservation/Reservation<?php echo $url; ?>";
            }
        });
    }
</script>

<?php echo $footer_page; ?>