<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">维修预约</h4>
    <!--<a href="#" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>-->
</header>
<main class="main">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    </div>
    <div class="list-group">
        <div class="list-group-item border-horizontal-0">
            <?php if ($reservations) : ?>
                <?php $i = 0; ?>
                <?php foreach ($reservations as $reservation) : ?>
                    <?php if($i != 0): ?><hr style="height:5px;background-color:#EAEAEA;"/><?php endif; ?>
                    <?php $i++; ?>
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" src="<?php echo $assets_server; ?>Vender/Themes/<?php echo $themes_default; ?>/Img/leaf.png" alt="">
                        </div>
                        <div class="col-xs-9 pl-0">
                            <h4 class="list-group-item-heading"><?php echo $reservation['owner']; ?></h4>
                            <h6>
                                <div class="text-muted"><?php echo $reservation['plate_number']; ?> | <?php echo $reservation['car_type']; ?></div>
                                <div class="text-muted"><?php echo $reservation_status[$reservation['status']]; ?></div>
                                <div class="text-muted"><?php echo $reservation['create_time']; ?></div>
                            </h6>
                            <p><?php echo $reservation['reservation_time']; ?></p>
                            <?php if($reservation['status'] == 1): ?>
                                <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation/edit_reservation&reservation_id=<?php echo $reservation['reservation_id']; ?><?php echo $url; ?>" class="btn btn-primary py-l pull-right"><!--<i class="nc-icon-outline ui-2_time"></i>--> 接车</a>
                            <?php else: ?>
                                <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation/settlement&reservation_id=<?php echo $reservation['reservation_id']; ?><?php echo $url; ?>" class="btn btn-primary py-l pull-right"><!--<i class="nc-icon-outline ui-2_time"></i>--> 结算</a>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php else: ?>
            <div class="row">
                <div class="col-xs-9 pl-0">
                    <h4 class="list-group-item-heading">没有符合条件的结果！</h4>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</main>


<?php echo $footer_page; ?>