<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">维修预约</h4>
    <!--<a href="#" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>-->
</header>
<main class="main">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    </div>
    <div class="list-group">
        <div class="list-group-item border-horizontal-0">
            <?php if ($reservations) : ?>
                <?php $i = 0; ?>
                <?php foreach ($reservations as $reservation) : ?>
                    <?php if($i != 0): ?><hr style="height:5px;background-color:#EAEAEA;"/><?php endif; ?>
                    <?php $i++; ?>
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" src="<?php echo $assets_server; ?>Vender/Themes/<?php echo $themes_default; ?>/Img/leaf.png" alt="">
                        </div>
                        <div class="col-xs-9 pl-0">
                            <h4 class="list-group-item-heading">商家标题</h4>
                            <h6>
                                <div class="text-muted"><?php echo $reservation['plate_number']; ?> | <?php echo $reservation['car_type']; ?></div>
                                <div class="text-muted"><?php echo $reservation_status[$reservation['status']]; ?></div>
                                <div class="text-muted"><?php echo $reservation['create_time']; ?></div>
                            </h6>
                            <p><?php echo $reservation['reservation_time']; ?></p>
                            <?php if($reservation['status'] == 1): ?>
                                <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation/edit_reservation&reservation_id=<?php echo $reservation['reservation_id']; ?><?php echo $url; ?>" class="btn btn-primary py-l pull-right"><!--<i class="nc-icon-outline ui-2_time"></i>--> 接车</a>
                            <?php else: ?>
                                <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation/settlement&reservation_id=<?php echo $reservation['reservation_id']; ?><?php echo $url; ?>" class="btn btn-primary py-l pull-right"><!--<i class="nc-icon-outline ui-2_time"></i>--> 结算</a>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php else: ?>
            <div class="row">
                <div class="col-xs-9 pl-0">
                    <h4 class="list-group-item-heading">没有符合条件的结果！</h4>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</main>

<script>
    $(document).ready(function(data)
            {
                var success_info = '<?php echo $success_info; ?>';
                var error_info = '<?php echo $error_info; ?>';

                if (!!success_info) {
                    show_success_dom(success_info);
                }

                if (!!error_info) {
                    show_error_dom(error_info);
                }
            }
    );

    var remove_one_click = true;
    function remove_one(reservation_id)
    {
        if (!reservation_id) {
            show_error_dom('请选择要删除的数据！');
            return false;
        }

        if (!remove_one_click)
            return false;

        remove_one_click = false;

        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Reservation/remove_one', {reservation_id:reservation_id}, function(data){
            if (data.status == -1) {
                show_error_dom(data.result);
                remove_one_click = true;
            } else {
                window.location.href = '<?php echo $entrance; ?>route=Vender/Reservation/Reservation<?php echo $url; ?>';
            }
        });
    }

    var remove_some_click = true;
    function remove_some()
    {
        var checked = [];
        $.each($("input:checkbox[name=selected]:checked"), function(i, e){
            checked.push(parseInt($(e).val()));
        });

        if (checked.length <= 0) {
            show_error_dom('请选择要删除的数据！');
            return false;
        }

        if (!remove_some_click)
            return false;

        remove_some_click = false;

        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Reservation/remove_some', {reservation_ids:checked}, function(data){
            if (data.status == -1) {
                show_error_dom(data.result);
                remove_some_click = true;
            } else {
                window.location.href = '<?php echo $entrance; ?>route=Vender/Reservation/Reservation<?php echo $url; ?>';
            }
        });
    }
</script>

<?php echo $footer_page; ?>