<?php echo $header_page; ?>
<body>
<body>

<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">接车详情</h4>
    <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation/edit_reservation&reservation_id=<?php echo $reservation_info['reservation_id']; ?>" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>

</header>
<main class="main">
    <br>
    <form class="form-horizontal" id="form_info">
    <div class="container-fluid text-center">
        <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly>
        <section class="panel p-3" onclick="$('#upload_image').trigger('click')">
            <i class="nc-icon-glyph media-1_lens-31 x3 text-deep-purple mb-1l"></i>
            <h4 class="panel-title text-muted">接车单拍照</h4>
            <div class="text-muted" style="margin-top:-10px;">__</div>
        </section>
        <span style="display: none;"><input type="file" value="" id="upload_image"/></span>
        <section class="panel p-3" onclick="alert('功能开发中，敬请期待');">
            <i class="nc-icon-glyph media-1_volume-97 x3 text-green mb-1l"></i>
            <h4 class="panel-title text-muted">选择语音接车</h4>
            <div class="text-muted" style="margin-top:-10px;">__</div>
        </section>

        <section class="panel p-3" onclick="alert('功能开发中，敬请期待');">
            <i class="nc-icon-glyph media-1_player x3 text-primary mb-1l"></i>
            <h4 class="panel-title text-muted">选择视频接车</h4>
            <div class="text-muted" style="margin-top:-10px;">__</div>
        </section>
        <button type="button" class="btn btn-primary btn-block" onclick="submit_info()">保存</button>
    </div>
    </form>
</main>
<script src="<?php echo $assets_server; ?>Common/Js/upload_image/localResizeIMG.js"></script>
<script src="<?php echo $assets_server; ?>Common/Js/upload_image/mobileBUGFix.mini.js"></script>
<script src="<?php echo $assets_server; ?>Common/Js/upload_image/ResizeIMG.js"></script>
<script>
    var base64Image = '';
    $(document).ready(function(){
        $('#upload_image').ResizeIMG({
            //width: 100,
            quality: 1.0,
            success: function (result) {
                base64Image = result.base64;
                alert('已选择图片');
            }
        });
    });

    function submit_info()
    {
        var param = {
            reservation_id : $("input[name=reservation_id]").val(),
            base64_file : base64Image
        }

        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Reservation/do_edit_reservation', param, function(data){
            if (data.status == -1) {
                var return_error = '';
                $.each(data.result, function(i, e) {
                    return_error = e;
                    return false;
                });
                alert(return_error);
                is_click = false;
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Reservation/Reservation<?php echo $url; ?>";
            }
        });
    }
</script>

<?php echo $footer_page; ?>