<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">维修结算详情</h4>
    <a href="<?php echo $entrance; ?>route=Vender/Reservation/Settlement" class="btn btn-link navbar-btn"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>

    <!--<a href="#" class="btn btn-link navbar-btn pull-right"><i class="nc-icon-outline ui-1_calendar-grid-58"></i></a>-->
</header>
<main class="main">
    <!--<div id="carousel-example-generic" class="carousel slide bg-primary text-center p-1l" data-ride="carousel">
        <ol class="carousel-indicators" style="bottom:0;">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <h1 class="m-0" style="font-weight:100;">3717<span class="h3" style="font-weight:100;">.40</span></h1>
                <ul class="list-inline">
                    <li>React based</li>
                    <li>|</li>
                    <li>Implementation</li>
                </ul>
                <br>
            </div>
            <div class="item">
                <h1 class="m-0" style="font-weight:100;">3717<span class="h3" style="font-weight:100;">.40</span></h1>
                <ul class="list-inline">
                    <li>React based</li>
                    <li>|</li>
                    <li>Implementation</li>
                </ul>
                <br>
            </div>
            <div class="item">
                <h1 class="m-0" style="font-weight:100;">3717<span class="h3" style="font-weight:100;">.40</span></h1>
                <ul class="list-inline">
                    <li>React based</li>
                    <li>|</li>
                    <li>Implementation</li>
                </ul>
                <br>
            </div>
        </div>
    </div>-->
    <div class="container-fluid">
        <h5>标题</h5>
        <form class="form-horizontal" id="form_info">
            <div class="form-group">
                <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 材料费合计</label></span>
                    <input type="text" class="form-control text-right" onkeyup="cost_one(this)" name="material_costs" value="0" placeholder="材料费合计" maxlength="10"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 工时费合计</label></span>
                    <input type="text" class="form-control text-right" onkeyup="cost_one(this)" name="working_hours_costs" value="0" placeholder="工时费合计" maxlength="10"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 外加工费</label></span>
                    <input type="text" class="form-control text-right" onkeyup="cost_one(this)" name="outside_costs" value="0" placeholder="外加工费" maxlength="10"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 其他费用</label></span>
                    <input type="text" class="form-control text-right" onkeyup="cost_one(this)" name="other_costs" value="0" placeholder="其他费用" maxlength="10"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 应收合计</label></span>
                    <input type="text" class="form-control text-right" name="total_receivables" value="0" placeholder="应收合计" maxlength="10"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 优惠金额</label></span>
                    <input type="text" class="form-control text-right" onkeyup="cost_two(this)" name="discount_costs" value="0" placeholder="优惠金额" maxlength="10"/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><label><b class="text-primary">●</b> 实收合计</label></span>
                    <input type="text" class="form-control text-right" name="total_revenue" value="0" placeholder="实收合计" maxlength="10"/>
                </div>
            </div>
        </form>
            <div class="container-fluid">
                <a class="btn btn-primary btn-block" href="javascript:void(0)" onclick="submit_info()">结算 <i class="nc-icon-outline arrows-3_circle-simple-right"></i></a>
            </div>
        </form>
    </div>

</main>
<script>
    var all_cost = 0;
    function cost_one(that) {
        var material_costs = parseFloat($("input[name=material_costs]").val());
        var working_hours_costs = parseFloat($("input[name=working_hours_costs]").val());
        var outside_costs = parseFloat($("input[name=outside_costs]").val());
        var other_costs = parseFloat($("input[name=other_costs]").val());
        all_cost = material_costs+working_hours_costs+outside_costs+other_costs;
        $("input[name=total_receivables]").val(all_cost);
        $("input[name=total_revenue]").val(all_cost);
    }

    function cost_two(that) {
        $("input[name=total_revenue]").val(all_cost - parseFloat($(that).val()));
    }

    function submit_info()
    {
        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Settlement/do_edit_reservation', $('#form_info').serializeArray(), function(data){
            if (data.status == -1) {
                var return_error = '';
                $.each(data.result, function(i, e) {
                    return_error = e;
                    return false;
                });
                alert(return_error);
                is_click = false;
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Reservation/Settlement<?php echo $url; ?>";
            }
        });
    }
</script>
<?php echo $footer_page; ?>