<?php echo $header_page; ?>
<body>

<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">结算详情</h4>
    <a href="<?php echo $entrance; ?>route=Vender/Reservation/Reservation" class="btn btn-link navbar-btn"><!--<i class="nc-icon-outline arrows-1_minimal-left"></i>--> 返回</a>

</header>
<main class="main">
    <br>
    <form class="form-horizontal" id="form_info">
        <div class="container-fluid">
            <section class="panel bg-grey py-3 text-center">
                <h5>请输入合计金额</h5>
                <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly>
                <input type="text" class="form-control text-center" style="font-weight:100;font-size:48px;color:#fff;background:none;" name="total_revenue" value="0" maxlength="10">
            </section>
            <section class="panel py-3 text-center text-muted" onclick="$('#upload_image').trigger('click')" id="image_click">
                <i class="nc-icon-outline ui-1_simple-add x2l"></i>
                <img class="img-responsive" src="" style="display: none;"/>
                <h5>请上传维修结算单</h5>
            </section>
            <span style="display: none;"><input type="file" value="" id="upload_image"/></span>
        </div>
        <div class="container-fluid">
            <a class="btn btn-primary btn-block" href="javascript:void(0)" onclick="submit_info()">发起派乐宝支付 <!--<i class="nc-icon-outline arrows-3_circle-simple-right"></i>--></a>
        </div>
    </form>
</main>
<script src="<?php echo $assets_server; ?>Common/Js/upload_image/localResizeIMG.js"></script>
<script src="<?php echo $assets_server; ?>Common/Js/upload_image/mobileBUGFix.mini.js"></script>
<script src="<?php echo $assets_server; ?>Common/Js/upload_image/ResizeIMG.js"></script>
<script>
    var base64Image = '';
    $(document).ready(function(){
        $('#upload_image').ResizeIMG({
            //width: 100,
            quality: 1.0,
            success: function (result) {
                base64Image = result.base64;
                $("#image_click").find('i').fadeOut();
                $("#image_click").find('img').attr('src', result.base64);
                $("#image_click").find('img').fadeIn();
            }
        });
    });

    function submit_info()
    {
        var param = {
            reservation_id : $("input[name=reservation_id]").val(),
            total_revenue : $("input[name=total_revenue]").val(),
            base64_file : base64Image
        }

        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Reservation/do_add_settlement', param, function(data){
            if (data.status == -1) {
                var return_error = '';
                $.each(data.result, function(i, e) {
                    return_error = e;
                    return false;
                });
                alert(return_error);
                is_click = false;
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Reservation/Reservation<?php echo $url; ?>";
            }
        });
    }
</script>
<?php echo $footer_page; ?>