<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="保存" class="btn btn-primary" onclick="submit_info()">
                    <i class="fa fa-save"></i>
                </button>
                <a href="<?php echo $entrance; ?>route=Vender/Company/Company<?php echo $url; ?>" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>首页</h1>
            <ul class="breadcrumb">
                <li><a href="<?php echo $entrance; ?>route=Vender/Company/Company">企业</a></li>
                <li><a href="<?php echo $entrance; ?>route=Vender/Company/Company/edit_company&company_id=<?php echo $company_info['company_id']; ?><?php echo $url; ?>">编辑</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="alert-success"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="alert alert-danger" style="display: none;">
            <i class="fa fa-exclamation-circle"></i>
            <span id="alert-danger"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    编辑
                </h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" id="form_info" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">常规</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="default">
                                        <li class="active">
                                            <a href="#tab-customer" data-toggle="tab">常规</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <input type="hidden" name="company_id" value="<?php echo $company_info['company_id']; ?>" readonly>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-password">密码</label>
                                                <div class="col-sm-10">
                                                    <input type="password" name="password" value="<?php echo $password; ?>" placeholder="密码" id="input-password" class="form-control" maxlength="15">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-c_password">确认密码</label>
                                                <div class="col-sm-10">
                                                    <input type="password" name="c_password" value="<?php echo $c_password; ?>" placeholder="确认密码" id="input-c_password" class="form-control" maxlength="15">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-tel">手机号</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="tel" value="<?php echo $company_info['tel']; ?>" placeholder="手机号" id="input-tel" class="form-control" maxlength="20" readonly>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-numbering">会员编号</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="numbering" value="<?php echo $company_info['numbering']; ?>" placeholder="会员编号" id="input-numbering" class="form-control" maxlength="30">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-name">名称</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="name" value="<?php echo $company_info['name']; ?>" placeholder="名称" id="input-name" class="form-control" maxlength="50">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-type">类型</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="type" value="<?php echo $company_info['type']; ?>" placeholder="类型" id="input-type" class="form-control" maxlength="50">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-address">住所</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="address" value="<?php echo $company_info['address']; ?>" placeholder="住所" id="input-address" class="form-control" maxlength="50">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-legal_person">法定代表人</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="legal_person" value="<?php echo $company_info['legal_person']; ?>" placeholder="法定代表人" id="input-legal_person" class="form-control" maxlength="10">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-registered_capital">注册资本</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="registered_capital" value="<?php echo $company_info['registered_capital']; ?>" placeholder="注册资本" id="input-registered_capital" class="form-control" maxlength="20">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-date_time">成立日期</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="date_time" value="<?php echo $company_info['date_time']; ?>" placeholder="成立日期" id="input-date_time" class="form-control" maxlength="20">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-operating_period">营业期限</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="operating_period" value="<?php echo $company_info['operating_period']; ?>" placeholder="营业期限" id="input-operating_period" class="form-control" maxlength="10">
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function submit_info()
    {
        var param = {
            company_id : $("input[name=company_id]").val(),
            name : $("input[name=name]").val(),
            numbering : $("input[name=numbering]").val(),
            type : $("input[name=type]").val(),
            address : $("input[name=address]").val(),
            legal_person : $("input[name=legal_person]").val(),
            registered_capital : $("input[name=registered_capital]").val(),
            date_time : $("input[name=date_time]").val(),
            operating_period : $("input[name=operating_period]").val(),
        }

        if (!!$("input[name=password]").val()) {
            param.password = st.sha1($("input[name=password]").val());
            param.real_password = $("input[name=password]").val();
        }

        if (!!st.sha1($("input[name=c_password]").val())) {
            param.c_password = st.sha1($("input[name=c_password]").val());
        }

        st.post('<?php echo $entrance; ?>route=Vender/Company/Company/do_edit_company', param, function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var other_error = '';
                $.each(data.result, function(i, e){
                    if (i == 'other_error') {
                        other_error = ',' + e;
                    } else {
                        $('[name='+i+']').next().html(e);
                        $('[name='+i+']').next().fadeIn();
                        $('[name='+i+']').parent().parent().addClass('has-error');
                    }
                });

                $("#alert-danger").html('编辑失败,请查看错误信息'+other_error);
                $("#alert-danger").parent().fadeIn();
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Company/Company<?php echo $url; ?>";
            }
        });
    }
</script>
<style>
    .text-danger {
        display: none;
    }
</style>
<?php echo $footer_page; ?>