<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">企业</h4>
    <a href="<?php echo $entrance; ?>route=Vender/Company/Analyze" class="btn btn-link navbar-btn pull-right">经营分析</a>
</header>
<main class="main">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!--<div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="<?php echo $assets_server; ?>Vender/Themes/<?php echo $themes_default; ?>/Img/BingWallpaper-2017-03-03.jpg" alt="">
            </div>
            <div class="item">
                <img src="<?php echo $assets_server; ?>Vender/Themes/<?php echo $themes_default; ?>/Img/BingWallpaper-2017-03-23.jpg" alt="">
            </div>
            <div class="item">
                <img src="<?php echo $assets_server; ?>Vender/Themes/<?php echo $themes_default; ?>/Img/BingWallpaper-2017-04-05.jpg" alt="">
            </div>
        </div>-->
    </div>
    <div class="list-group">
        <div class="list-group-item border-horizontal-0">
            <?php if ($companys) : ?>
                <?php foreach ($companys as $company) : ?>
                    <div class="row">
                        <div class="col-xs-3">
                            <img class="img-responsive" src="<?php echo $assets_server; ?>Vender/Themes/<?php echo $themes_default; ?>/Img/lactus.png" alt="">
                        </div>
                        <div class="col-xs-9 pl-0">
                            <h4 class="list-group-item-heading"><?php echo $company['name']; ?></h4>
                            <h6>
                                <small class="evaluation">
                                    <?php if(!empty($company['score']) and !empty($company['score_count'])): ?>
                                        <?php $score = round($company['score'] / $company['score_count']); ?>
                                        <?php for($i = 1; $i <= 5; $i++): ?>
                                            <?php if(!empty($score)): ?>
                                                <i class="nc-icon-glyph ui-2_favourite-31 text-warning"></i>
                                                <?php $score--; ?>
                                            <?php else: ?>
                                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                            <?php endif; ?>
                                        <?php endfor; ?>
                                    <?php else: ?>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                    <?php endif; ?>
                                </small>
                                <span class="text-muted">有<?php echo $company['views']; ?>人访问</span>
                            </h6>
                            <p><?php echo $company['address']; ?></p>
                            <a href="<?php echo $entrance; ?>route=Vender/Company/Company/edit_company&company_id=<?php echo $company['company_id']; ?><?php echo $url; ?>" class="btn btn-primary py-l"><!--<i class="nc-icon-outline ui-2_time"></i>--> 查看详情</a>
                        </div>
                    </div>
                <?php endforeach; ?>
            <?php else: ?>
                <div class="row">
                    <div class="col-xs-9 pl-0">
                        <h4 class="list-group-item-heading">没有符合条件的结果！</h4>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</main>


<?php echo $footer_page; ?>