<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="结算" class="btn btn-primary" onclick="submit_info()">
                    <i class="fa fa-save"></i>
                </button>
                <a href="<?php echo $entrance; ?>route=Vender/Reservation/Settlement<?php echo $url; ?>" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
			<h1>首页</h1>
			<ul class="breadcrumb">
				<li><a href="<?php echo $entrance; ?>route=Vender/Reservation/Settlement<?php echo $url; ?>">结算</a></li>
                <li><a href="<?php echo $entrance; ?>route=Vender/Reservation/Settlement/edit_reservation<?php echo $url; ?>">结算</a></li>
			</ul>
		</div>
	</div>
    <div class="container-fluid">
        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="alert-success"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="alert alert-danger" style="display: none;">
            <i class="fa fa-exclamation-circle"></i>
            <span id="alert-danger"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    结算
                </h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" id="form_info" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">常规</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="default">
                                        <li class="active">
                                            <a href="#tab-customer" data-toggle="tab">常规</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">材料费合计</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="material_costs" value="" placeholder="材料费合计" id="input-material_costs" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">工时费合计</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="working_hours_costs" value="" placeholder="工时费合计" id="input-working_hours_costs" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">外加工费</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="outside_costs" value="" placeholder="外加工费" id="input-outside_costs" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">其他费用</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="other_costs" value="" placeholder="其他费用" id="input-other_costs" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">应收合计</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="total_receivables" value="" placeholder="应收合计" id="input-total_receivables" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">优惠金额</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="discount_costs" value="0" placeholder="优惠金额" id="input-discount_costs" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">实收合计</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="total_revenue" value="" placeholder="实收合计" id="input-total_revenue" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function submit_info()
    {
        st.post('<?php echo $entrance; ?>route=Vender/Reservation/Settlement/do_edit_reservation', $('#form_info').serializeArray(), function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var other_error = '';
                $.each(data.result, function(i, e){
                    if (i == 'other_error') {
                        other_error = ',' + e;
                    } else {
                        $('[name='+i+']').next().html(e);
                        $('[name='+i+']').next().fadeIn();
                        $('[name='+i+']').parent().parent().addClass('has-error');
                    }
                });

                $("#alert-danger").html('修改会员信息失败,请查看错误信息'+other_error);
                $("#alert-danger").parent().fadeIn();
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Vender/Reservation/Settlement<?php echo $url; ?>";
            }
        });
    }
</script>
<style>
    .text-danger {
        display: none;
    }
</style>
<?php echo $footer_page; ?>