<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>测试网站</title>
    <script src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Js/jquery-2.1.1.min.js"></script>
    <script src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Js/m_project.js"></script>
    <script src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Js/bootstrap.js"></script>
    <link href= "<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Css/bootstrap.css" rel="stylesheet"/>
    <link href= "<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Css/main.css" rel="stylesheet"/>
</head>
<body>
