<nav id="column-left">
    <div id="profile">
        <div>
            <i class="fa fa-opencart"></i>
        </div>
        <div>
            <h4><?php echo $session_info['vender_name']; ?></h4>
            <small>
                <?php foreach ($vender_group as $id=>$group) : ?>
                    <?php if($id == $session_info['group']): ?>
                        <?php echo $group; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </small>
        </div>
    </div>
    <ul id="menu">
        <li id="menu-dashboard">
            <a href="<?php echo $entrance; ?>route=Vender/Home/Home"><i class="fa fa-dashboard fw"></i> <span>首页</span></a>
        </li>
        <!--<li id="menu-cms">
            <a class="parent"><i class="fa fa-newspaper-o fw"></i> <span>文章管理</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=Admin/Article/Category">分类</a>
                </li>
                <li>
                    <a href="<?php echo $entrance; ?>route=Admin/Article/Content">内容</a>
                </li>
                <li>
                    <a href="<?php echo $entrance; ?>route=Admin/Article/News">新闻</a>
                </li>
                <li>
                    <a href="<?php echo $entrance; ?>route=Admin/Article/Advertising">广告</a>
                </li>
                <li>
                    <a href="<?php echo $entrance; ?>route=Admin/Article/Announcement">临时公告</a>
                </li>adm
            </ul>
        </li>-->
        <li id="menu-customer">
            <a class="parent"><i class="fa fa-user fw"></i> <span>会员</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/User/User">会员</a>
                </li>
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/User/Card">宝宝办卡、续卡</a>
                </li>
            </ul>
        </li>
        <li id="menu-company">
            <a class="parent"><i class="fa fa-user fw"></i> <span>企业</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/Company/Company">企业</a>
                </li>
            </ul>
        </li>
        <li id="menu-teaching">
            <a class="parent"><i class="fa fa-mortar-board fw"></i> <span>会员上课</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/Teaching/Teaching">会员上课</a>
                </li>
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/Teaching/Calendar">排期表</a>
                </li>
            </ul>
        </li>
        <li id="menu-money">
            <a class="parent"><i class="fa fa-pencil-square-o fw"></i> <span>信息记录</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/Recordadm/Record">收支信息</a>
                </li>
            </ul>
        </li>
        <!--<li id="menu-baidu">
            <a class="parent"><i class="fa fa-search fw"></i> <span>百度推广</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=baidu/pushurl">百度URL提交</a>
                </li>
            </ul>
        </li>-->
        <li id="menu-system">
            <a class="parent"><i class="fa fa-cog fw"></i> <span>系统设置</span></a>
            <ul class="">
                <li>
                    <a href="<?php echo $entrance; ?>route=Vender/System/Website">网站设置</a>
                </li>
                <!--<li>
                    <a class="parent">管理员管理</a>
                    <ul class="collapse">
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/System/Vender">管理员管理</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=user/user_permission">管理员群组</a>
                        </li>
                    </ul>
                </li>-->
                <li>
                    <a class="parent">参数设置</a>
                    <ul class="collapse">
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=website">网站设置选项设置</a>
                        </li>
                        <!--<li>
                            <a href="<?php echo $entrance; ?>route=Admin/Setting/SettingCategory&module=article">文章模块选项设置</a>
                        </li>-->
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=user">会员栏目选项设置</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=baby">会员宝宝栏目选项设置</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=card_type">会员卡种设置</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=baby_sensitive_period">宝宝敏感期设置</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=teaching_aids">教具设置</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=Vender/Setting/SettingCategory&module=record">信息记录设置</a>
                        </li>
                    </ul>
                </li>
                <!--<li>
                    <a class="parent">工具</a>
                    <ul class="collapse">
                        <li>
                            <a href="<?php echo $entrance; ?>route=tool/upload">上传文件</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=tool/backup">备份 / 恢复</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=tool/log">错误日志</a>
                        </li>
                        <li>
                            <a href="<?php echo $entrance; ?>route=tool/excelexportimport">Excel导入导出</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </li>
    </ul>
    <!--<div id="stats">
        <ul>
            <li>
                <div>
                    已完成订单
                    <span class="pull-right">
                        0%
                    </span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<?php echo $complete_status; ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $complete_status; ?>%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    处理中订单
                    <span class="pull-right">
                        0%
                    </span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<?php echo $processing_status; ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $processing_status; ?>%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    其他状态
                    <span class="pull-right">
                        0%
                    </span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<?php echo $other_status; ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $other_status; ?>%">
                        <span class="sr-only">0%</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>-->
</nav>
