<?php echo $header_page; ?>
<div class="login-box" >
	<div class="row">
		<div class="span8 offset2">
			<form method="post" class="form-horizontal" >
				<fieldset>
					<legend>欢迎光临swoole聊天室</legend>
					<div class="form-actions">
						<a href="index.php?route=Front/Account/Account/login" class="btn btn-primary">登陆</a>
						<a href="index.php?route=Front/Account/Account/register" class="btn btn-primary">注册</a>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<?php echo $footer_page; ?>