<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="保存" class="btn btn-primary" onclick="submit_info()">
                    <i class="fa fa-save"></i>
                </button>
                <a href="<?php echo $entrance; ?>route=Admin/Teaching/Teaching<?php echo $url; ?>" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>首页</h1>
            <ul class="breadcrumb">
                <li><a href="<?php echo $entrance; ?>route=Admin/Teaching/Teaching">会员上课</a></li>
                <li><a href="<?php echo $entrance; ?>route=Admin/Teaching/Teaching/edit_teaching&teaching_id=<?php echo $teaching_info['teaching_id']; ?><?php echo $url; ?>">编辑会员上课</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="alert-success"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="alert alert-danger" style="display: none;">
            <i class="fa fa-exclamation-circle"></i>
            <span id="alert-danger"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    编辑会员上课
                </h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" id="form_info" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">常规</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="default">
                                        <li class="active">
                                            <a href="#tab-customer" data-toggle="tab">常规</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <input type="hidden" name="teaching_id" value="<?php echo $teaching_info['teaching_id']; ?>" readonly/>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    宝宝和父母信息
                                                </label>
                                                <div class="col-sm-10">
                                                     <div id="name-filter" class="well well-sm" style="height: 35px; overflow: auto;">
                                                         <i class="fa fa-child"></i>&nbsp;<?php echo $teaching_info['name']; ?>&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;<?php echo $teaching_info['parent_name']; ?>&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;<?php echo $teaching_info['tel']; ?>
                                                     </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    <?php echo $settings['setting_user_card_type']['title']; ?>
                                                </label>
                                                <div class="col-sm-10">
                                                     <div id="user-card-filter" class="well well-sm" style="height: 35px; overflow: auto;">
                                                         <i class="fa fa-credit-card"></i>&nbsp;<?php echo $teaching_info['card_setting_info']['card_number']; ?>&nbsp;&nbsp;&nbsp;
                                                         <i class="fa fa-minus-square-o"></i><?php echo $teaching_info['card_setting_info']['value']; ?>&nbsp;&nbsp;&nbsp;剩余<?php echo $teaching_info['card_setting_info']['remaining_times']; ?>课时&nbsp;&nbsp;&nbsp;
                                                         <i class="fa fa-calendar"></i>&nbsp;<?php echo $teaching_info['card_setting_info']['card_start_time']; ?>~<?php echo $teaching_info['card_setting_info']['card_end_time']; ?>
                                                    </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">
                                                    <?php echo $settings['setting_current_sensitive_period']['title']; ?>
                                                </label>
                                                <div class="col-sm-10">
                                                    <div id="sensitive-period-filter" class="well well-sm" style="height: 35px; overflow: auto;">
                                                        <i class="fa fa-exclamation-circle"></i>&nbsp;<?php echo $teaching_info['value']; ?>
                                                    </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">
                                                    <span data-toggle="tooltip" title="请填写 <?php echo $settings['setting_teaching_aids']['title']; ?>标题,自动匹配到相关的信息,然后选择">
                                                        <?php echo $settings['setting_teaching_aids']['title']; ?>
                                                    </span>
                                                </label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="teaching_tools_filter" value="" placeholder="<?php echo $settings['setting_teaching_aids']['title']; ?>" id="input-filter-teaching_tools" class="form-control" />
                                                    <div id="teaching-tools-filter" class="well well-sm" style="height: 150px; overflow: auto;">
                                                        <?php if(!empty($teaching_info['teaching_tools'])): ?>
                                                            <?php foreach ($teaching_info['teaching_tools'] as $tool) : ?>
                                                                <div id="teaching-tools-filter<?php echo $tool['setting_id']; ?>"><i class="fa fa-minus-circle"></i>&nbsp;<?php echo $tool['value']; ?>
                                                                    <input type="hidden" name="teaching_tool_setting_id[]" value="<?php echo $tool['setting_id']; ?>" />
                                                                </div>
                                                            <?php endforeach; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-title">
                                                    课程名称
                                                </label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="title" value="<?php echo $teaching_info['title']; ?>" placeholder="课程名称" id="input-title" class="form-control" maxlength="50"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">
                                                    <span data-toggle="tooltip" title="格式必须为 YYYY-MM-DD 和 HH:mm">
                                                        上课日期
                                                    </span>
                                                </label>
                                                <div class="col-sm-3">
                                                    <div class="input-group date" id="teaching_date">
                                                        <input type="text" name="teaching_date" value="<?php echo $teaching_info['teaching_date']; ?>" placeholder="上课日期" data-date-format="YYYY-MM-DD" id="input-teaching_date" class="form-control" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label">
                                                    <span data-toggle="tooltip" title="格式必须为 HH:mm">
                                                        上课时间
                                                    </span>
                                                </label>
                                                <div class="col-sm-3">
                                                    <div class="input-group time" id="teaching_start_time">
                                                        <input type="text" name="teaching_start_time" value="<?php echo $teaching_info['teaching_start_time']; ?>" placeholder="上课开始时间" data-date-format="HH:mm" id="input-teaching_start_time" class="form-control" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="input-group time" id="teaching_end_time">
                                                        <input type="text" name="teaching_end_time" value="<?php echo $teaching_info['teaching_end_time']; ?>" placeholder="上课结束时间" data-date-format="HH:mm" id="input-teaching_end_time" class="form-control" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function submit_info()
    {
        st.post('<?php echo $entrance; ?>route=Admin/Teaching/Teaching/do_edit_teaching', $('#form_info').serializeArray(), function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var other_error = '';
                $.each(data.result, function(i, e){
                    if (i == 'other_error') {
                        other_error = ',' + e;
                    } else if(i == 'teaching_tool_setting_id'){
                        $('#teaching-tools-filter').next().html(e);
                        $('#teaching-tools-filter').next().fadeIn();
                        $('#teaching-tools-filter').parent().parent().addClass('has-error');
                    } else if(i == 'teaching_date' || i == 'teaching_start_time' || i == 'teaching_end_time'){
                        $('[name='+i+']').parent().next().html(e);
                        $('[name='+i+']').parent().next().fadeIn();
                        $('[name='+i+']').parent().parent().parent().addClass('has-error');
                    } else {
                        $('[name='+i+']').next().html(e);
                        $('[name='+i+']').next().fadeIn();
                        $('[name='+i+']').parent().parent().addClass('has-error');
                    }
                });

                $("#alert-danger").html('编辑会员上课失败,请查看错误信息'+other_error);
                $("#alert-danger").parent().fadeIn();
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Admin/Teaching/Teaching<?php echo $url; ?>";
            }
        });
    }
</script>
<script>
    $('input[name=\'teaching_tools_filter\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: '<?php echo $entrance; ?>route=Admin/Teaching/Teaching/autocomplete_teaching_tools&filter_param=' + request,
                dataType: 'json',
                success: function(json) {
                    response($.map(json.result, function(item) {
                        return {
                            label: item['value'],
                            value: item['setting_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'teaching_tools_filter\']').val('');

            $('#teaching-tools-filter' + item['value']).remove();
            $('#teaching-tools-filter').append('<div id="teaching-tools-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="teaching_tool_setting_id[]" value="' + item['value'] + '" /></div>');
        }
    });

    $('#teaching-tools-filter').delegate('.fa-minus-circle', 'click', function() {
        $(this).parent().remove();
    });
</script>
<script type="text/javascript">
   $('#teaching_date').datetimepicker({
        pickTime: false
    })
    $('#teaching_start_time').datetimepicker({
        pickDate: false
    })
    $('#teaching_end_time').datetimepicker({
        pickDate: false
    })
</script>
<style>
    .text-danger {
        display: none;
    }
</style>
<?php echo $footer_page; ?>