body { margin: 0px; font-family: "微软雅黑"; width: 640px; margin: 0 auto }
ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, form { margin: 0px; padding: 0px; }
ul { list-style-type: none; }
* { margin: 0px; padding: 0px; }
a { text-decoration: none; color: #333; }
img { border: 0; }
#bg { background-repeat: no-repeat; height: 1100px; width: 640px; }
.bg_menu { float: left; margin-top: 920px; margin-left: 150px; }
#bg1 { background-image: url(../images/bg1.jpg); background-repeat: no-repeat; width: 640px; background-position: center top; float: left; height: 1090px; position: fixed; z-index: 99; top: 0px }
.bg1_menu { float: left; margin-top: 150px; margin-left: 30px; }
.bg2_menu { float: left; margin-top: 150px; margin-left: 30px; }
.bg1_bq { float: left; position: fixed; bottom: 0px; z-index: 9 }
.bg1_lb { float: left; width: 559px; margin-top: 25px; margin-left: 41px; overflow: scroll; height: 674px; }
.bg1_lb_xx1 { background-image: url(../images/ny2.jpg); background-repeat: no-repeat; height: 98px; width: 459px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #D8D8D8; font-size: 26px; line-height: 98px; color: #858585; padding-left: 100px; }
.bg1_lb_xx2 { background-image: url(../images/ny1.jpg); background-repeat: no-repeat; height: 98px; width: 459px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #D8D8D8; font-size: 26px; line-height: 98px; color: #858585; padding-left: 100px; }
.bg1_lb_xx3 { background-image: url(../images/ny3.jpg); background-repeat: no-repeat; height: 98px; width: 459px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #D8D8D8; font-size: 26px; line-height: 98px; color: #858585; padding-left: 100px; }
.bg1_tc1 { float: left; position: fixed; z-index: 100; top: 0px }
.bg1_tc2 { float: left; position: fixed; z-index: 100; top: 0px }
#bg2 { background-image: url(../images/bg2.jpg); background-repeat: no-repeat; width: 640px; background-position: center top; float: left; height: 1090px; position: fixed; z-index: 99; top: 0px }
.bg2_bt { color: #5a5a5a; font-size: 32px; float: left; margin-top: 15px; }
.bg2_bt1 { color: #FFFFFF; font-size: 24px; float: left; margin-left: 22px; margin-top: 10px; }
.bg2_nr { color: #5a5a5a; font-size: 24px; float: left; margin-left: 22px; margin-top: 20px; }
.bg2_nr img { vertical-align: text-bottom; margin-right: 8px; }
.zzsc { float: left; }
.zzsc a { margin-right: 8px; background-image: url(../images/ny2_05.png); background-repeat: no-repeat; height: 55px; width: 50px; float: left; }
.zzsc a.thisclass { background-image: url(../images/ny2_03.png); }
.zzsc1 a { width: 153px; height: 55px; display: block; margin-left: 5px; margin-bottom: 10px; margin-right: 5px; border-radius: 5px; background-color: #a3a3a3; color: #fff; font-size: 24px; text-align: center; line-height: 55px; float: left; }
.zzsc1 a.thisclass1 { background-color: #1eb467; }
.zzsc2 a { width: 153px; height: 55px; display: block; margin-left: 5px; margin-bottom: 10px; margin-right: 5px; border-radius: 5px; background-color: #a3a3a3; color: #fff; font-size: 24px; text-align: center; line-height: 55px; float: left; }
.zzsc2 a.thisclass2 { background-color: #1eb467; }
.liuyan { background-color: #f0f0f0; height: 100px; width: 100% }
.liuyan textarea { font-size: 20px; color: #333; width: 98%; height: 93px; margin-left: 1%; border: none; background-color: inherit; font-family: "微软雅黑"; padding-top: 5px; }
.tijiao { background-color: #1eb467; width: 130px; height: 55px; text-align: center; color: #FFF; line-height: 55px; float: left; font-size: 24px; border-radius: 5px; margin-left: 260px; margin-top: 15px; margin-bottom: 15px; }
.bg2_tc1 { float: left; position: fixed; z-index: 100; top: 0px; background-image: url(../images/bg3_02.png); background-repeat: no-repeat; width: 640px; height: 1100px; }
.bg2_tc1_xx { float: left; margin-top: 623px; margin-left: 110px }
.bg2_tc2 { float: left; position: fixed; z-index: 100; top: 0px; background-image: url(../images/bg5_02.png); background-repeat: no-repeat; width: 640px; height: 1100px; }
.bg2_tc_xx { float: left; margin-top: 623px; margin-left: 110px }
.bg2_main_xx { background-image: url(../images/bg2_03.jpg); background-repeat: no-repeat; float: left; height: 700px; width: 535px; margin-left: 53px; }
.bg2_main { width: 605px; height: 567px; overflow: scroll; overflow-x: hidden; }
#bg3 { background-image: url(../images/bd.png); background-repeat: no-repeat; height: 1100px; width: 640px; float: left; position: fixed; z-index: 100; top: 0px; }
.bg3_nr { float: left; margin-top: 546px; margin-left: 80px }
.bg3_nr input { height: 58px; border: none; background: inherit; line-height: 58px; font-size: 22px; font-family: "Microsoft YaHei"; border: none; width: 472px; float: left; color: #999; padding-left: 8px; border-radius: 3px; }
