<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">预约维修</h4>
    <!--<a href="#" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>-->
</header>
<main class="main">
    <div class="list-group">
        <div class="list-group-item border-horizontal-0">
            <?php if ($reservations) : ?>
            <?php $i = 0; ?>
            <?php foreach ($reservations as $reservation) : ?>
            <?php if($i != 0): ?><hr style="height:5px;background-color:#EAEAEA;"/><?php endif; ?>
            <?php $i++; ?>
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/lactus.png" alt="">
                </div>
                <div class="col-xs-9 pl-0">
                    <h4 class="list-group-item-heading">
                        <a href="<?php echo $entrance; ?>route=Front/Reservation/Reservation/company_details&company_id=<?php echo $reservation['company_id']; ?><?php echo $url; ?>"><?php echo $reservation['name']; ?></a>
                    </h4>
                    <h6>
                        <small class="evaluation">
                            <?php if(!empty($reservation['score']) and !empty($reservation['score_count'])): ?>
                                <?php $score = round($reservation['score'] / $reservation['score_count']); ?>
                                <?php for($i = 1; $i <= 5; $i++): ?>
                                    <?php if(!empty($score)): ?>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-warning"></i>
                                        <?php $score--; ?>
                                    <?php else: ?>
                                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                    <?php endif; ?>
                                <?php endfor; ?>
                            <?php else: ?>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                            <?php endif; ?>
                        </small>
                        <span class="text-muted">有<?php echo $reservation['views']; ?>人访问 | 距离0.46km</span>
                    </h6>
                    <p><?php echo $reservation['address']; ?></p>
                    <a href="<?php echo $entrance; ?>route=Front/Reservation/Reservation/add_reservation&company_id=<?php echo $reservation['company_id']; ?><?php echo $url; ?>" class="btn btn-primary py-l pull-right"><!--<i class="nc-icon-outline ui-2_time"></i>--> 商家预约</a>
                </div>
            </div>
            <?php endforeach; ?>
            <?php else: ?>
            <div class="row">
                <div class="col-xs-9 pl-0">
                    <h4 class="list-group-item-heading">没有符合条件的结果！</h4>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</main>

<?php echo $footer_page; ?>