<?php echo $header_page; ?>
<?php echo $left_page; ?>
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
            <div class="pull-right">
                <button type="button" data-toggle="tooltip" title="保存" class="btn btn-primary" onclick="submit_info()">
                    <i class="fa fa-save"></i>
                </button>
                <a href="<?php echo $entrance; ?>route=Admin/Record/Record<?php echo $url; ?>" data-toggle="tooltip" title="取消" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
			<h1>首页</h1>
			<ul class="breadcrumb">
				<li><a href="<?php echo $entrance; ?>route=Admin/Record/Record">收支记录</a></li>
                <li><a href="<?php echo $entrance; ?>route=Admin/Record/Record/add_record<?php echo $url; ?>">新增收支记录</a></li>
			</ul>
		</div>
	</div>
    <div class="container-fluid">
        <div class="alert alert-success" style="display: none;">
            <i class="fa fa-check-circle"></i>
            <span id="alert-success"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="alert alert-danger" style="display: none;">
            <i class="fa fa-exclamation-circle"></i>
            <span id="alert-danger"></span>
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-pencil"></i>
                    新增收支记录
                </h3>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" id="form_info" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-general" data-toggle="tab">常规</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="row">
                                <div class="col-sm-2">
                                    <ul class="nav nav-pills nav-stacked" id="default">
                                        <li class="active">
                                            <a href="#tab-customer" data-toggle="tab">常规</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-10">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-customer">
                                            <div class="form-group required">
                                                <label class="col-sm-2 control-label" for="input-setting">
                                                    <?php echo $settings['setting_income_and_expenditure']['title']; ?>
                                                </label>
                                                <div class="col-sm-10">
                                                    <select name="setting_id" id="input-setting" class="form-control">
                                                        <option value>请选择</option>
                                                        <?php foreach ($settings['setting_income_and_expenditure']['infos'] as $income_and_expenditure) : ?>
                                                            <option value="<?php echo $income_and_expenditure['setting_id']; ?>"><?php echo $income_and_expenditure['value']; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-money">
                                                    金额
                                                </label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="money" value="0" placeholder="金额" id="input-money" class="form-control" maxlength="10"/>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="input-content">
                                                    描述
                                                </label>
                                                <div class="col-sm-10">
                                                    <textarea name="content" rows="5" placeholder="描述" id="input-content" class="form-control"></textarea>
                                                    <div class="text-danger"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function submit_info()
    {
        st.post('<?php echo $entrance; ?>route=Admin/Record/Record/do_add_record', $('#form_info').serializeArray(), function(data){
            $('.text-danger').html('');
            $('.text-danger').fadeOut();
            $('#tab-customer').find('div').removeClass('has-error');

            if (data.status == -1) {
                var other_error = '';
                $.each(data.result, function(i, e){
                    if (i == 'other_error') {
                        other_error = ',' + e;
                    } else {
                        $('[name='+i+']').next().html(e);
                        $('[name='+i+']').next().fadeIn();
                        $('[name='+i+']').parent().parent().addClass('has-error');
                    }
                });

                $("#alert-danger").html('新增收支记录失败,请查看错误信息'+other_error);
                $("#alert-danger").parent().fadeIn();
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Admin/Record/Record<?php echo $url; ?>";
            }
        });
    }
</script>
<style>
    .text-danger {
        display: none;
    }
</style>
<?php echo $footer_page; ?>