<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="http://user.sdecpay.com/m/paygate.html">
    <input type="hidden" id="merId" name="merId" value="699851">
    <input type="hidden" id="dealName" name="dealName" value="支付宝用户车辆维修结算支付">
    <input type="hidden" id="dealOrder" name="dealOrder" value="20171127140323GB2762603176989157">
    <input type="hidden" id="dealFee" name="dealFee" value="0.01">
    <input type="hidden" id="dealBank" name="dealBank" value="TEST">
    <input type="hidden" id="header" name="header" value="false">
    <input type="hidden" id="dealSignure" name="dealSignure" value="1071bc382e05432b88b855ad4a835f5b19d9c352">
    <input type="hidden" id="dealReturn" name="dealReturn" value="http://qx.maizhao.net/index.php?route=Front/User/Pay/united_back_pay_return">
    <input type="hidden" id="dealNotify" name="dealNotify" value="http://qx.maizhao.net/Front/Controller/User/UnitedBackPayNotify.php">
    <input type="submit" value="立即付款">
</form>
</body>
</html>