<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">评价成功</h4>
    <a href="<?php echo $entrance; ?>route=Front/User/Reservation" class="btn btn-link navbar-btn pull-left"><i
            class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>

</header>
<main class="main">
    <br>
    <section class="panel text-center">
        <div class="panel-body">
            <div id="stars" class="starrr">
                <?php $score = $evaluation_info['score']; ?>
                <?php for($i = 1; $i <= 5; $i++): ?>
                    <?php if(!empty($score)): ?>
                        <i class="nc-icon-glyph ui-2_favourite-31 x1l text-warning"></i>
                        <?php $score--; ?>
                    <?php else: ?>
                        <i class="nc-icon-glyph ui-2_favourite-31 x1l text-muted"></i>
                    <?php endif; ?>
                <?php endfor; ?>
            </div>
            您给了评分 <span id="count"><?php echo $evaluation_info['score']; ?></span> 星
            <!--
            <span class="evaluation"><i class="nc-icon-glyph ui-2_favourite-31 text-warning"></i><i class="nc-icon-glyph ui-2_favourite-31 text-warning"></i><i class="nc-icon-glyph ui-2_favourite-31 text-warning"></i><i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i><i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i></span>
            <h4>96.5分非常好</h4>
-->
        </div>
    </section>

</main>
<?php echo $footer_page; ?>