<?php echo $header_page; ?>
<body>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">爱车车况</h4>
    <a href="<?php echo $entrance; ?>route=Front/User/Car/edit_car&car_id=<?php echo $car_id; ?>" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>
    <!--<a href="#" class="btn btn-link navbar-btn pull-right"><i class="nc-icon-outline business_chair"></i> 车信专家</a>-->
</header>


<main class="main">
    <section class="panel text-center bg-primary">
        <div class="panel-body">
            <i class="nc-icon-outline sport_podium-trophy x3 img-circle bg-amber p-3"></i>
            <h5>根据对行车电脑数据的长期监测分析，发现您的车状态良好</h5>
            <small>监测时间：2013-12-06至2015-08-03</small>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row text-center">
            <a class="col-xs-4" href="#">
                <i class="nc-icon-glyph location_radar text-primary x1l"></i>
                <h6 class="text-muted">快速检测</h6>
            </a>
            <a class="col-xs-4" href="#">
                <i class="nc-icon-glyph ui-1_dashboard-29 text-primary x1l"></i>
                <h6 class="text-muted">性能测试</h6>
            </a>
            <a class="col-xs-4" href="#">
                <i class="nc-icon-glyph location_explore-user text-primary x1l"></i>
                <h6 class="text-muted">人工体检</h6>
            </a>
        </div>
        <div class="list-group">
            <a class="list-group-item my-1" href="#">
                <small class="pull-right text-muted" style="margin-top:2px;">无故障代码 <i class="nc-icon-outline arrows-1_minimal-right"></i></small>
                <i class="nc-icon-glyph ui-3_alert mr-l text-primary"></i> 故障诊断系统
            </a>
            <a class="list-group-item my-1">
                <small class="pull-right text-muted" style="margin-top:2px;">电源系统 <i class="nc-icon-outline arrows-1_minimal-right"></i></small>
                <i class="nc-icon-glyph objects_battery mr-l text-primary"></i> 蓄电池状态良好
            </a>
            <a class="list-group-item my-1" href="#">
                <small class="pull-right text-muted" style="margin-top:2px;">进气系统 <i class="nc-icon-outline arrows-1_minimal-right"></i></small>
                <i class="nc-icon-glyph health_humidity-52 mr-l text-primary"></i> 节气门开度正常
            </a>
            <a class="list-group-item my-1" href="#">
                <small class="pull-right text-muted" style="margin-top:2px;">怠速控制系统 <i class="nc-icon-outline arrows-1_minimal-right"></i></small>
                <i class="nc-icon-glyph envir_level mr-l text-primary"></i> 怠速稳定
            </a>
            <a class="list-group-item my-1" href="#">
                <small class="pull-right text-muted" style="margin-top:2px;">冷却系统 <i class="nc-icon-outline arrows-1_minimal-right"></i></small>
                <i class="nc-icon-glyph clothes_wash-90 mr-l text-primary"></i> 冷却状态良好
            </a>
            <a class="list-group-item my-1" href="#">
                <small class="pull-right text-muted" style="margin-top:2px;">排放系统 <i class="nc-icon-outline arrows-1_minimal-right"></i></small>
                <i class="nc-icon-glyph design_photo-editor mr-l text-primary"></i> 三元催化器状态良好
            </a>
        </div>
    </div>
</main>
<footer class="tabbar">
    <ul class="nav nav-justified">
        <li class="active">
            <a href="#" data-toggle="tab">
                <i class="nc-icon-outline ui-2_time nc-icon-glyph"></i>
                <small>在线预约</small>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tab">
                <i class="nc-icon-outline business_round-yen"></i>
                <small>维修结算</small>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="tab">
                <i class="nc-icon-outline shopping_delivery"></i>
                <small>我的车辆</small>
            </a>
        </li>
    </ul>
</footer>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function () {

        $('.tabbar a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            $(this).children('i').addClass('nc-icon-glyph')
        });
        $('.tabbar a[data-toggle="tab"]').on('hidden.bs.tab', function (e) {

            $(this).children('i').removeClass('nc-icon-glyph')
        })
    });
</script>
<?php echo $footer_page; ?>