<?php echo $header_page; ?>
<body>
<style>
    .btn.btn-default {
        width: 50%;
        float: left;
    }

    .btn.btn-default:hover {
        background-color: #fff;
    }

    .btn.btn-default.active {
        box-shadow: none;
        border-color: #ff9800;
        background-color: #fff;
        color: #ff9800;
    }
</style>
<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">银行选择</h4>
    <a href="<?php echo $entrance; ?>route=Front/User/Pay/index&reservation_id=<?php echo $reservation_info[reservation_id]; ?>" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>
</header>
<main class="main">
    <br>
    <form class="form-horizontal" action="" id="form_info" method="post" enctype="multipart/form-data">
        <div class="container-fluid text-center">
            <div data-toggle="buttons" id="select_buttons">
                <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly>
                <input type="hidden" name="bank" value="" readonly>
                <label class="btn btn-default">
                    <input type="radio" value="CCBWZ" id="option10">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/jsyh.png" width="36">
                    <h5 class="mb-0">中国建设银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="CCBW" id="option10">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/jsyh.png" width="36">
                    <h5 class="mb-0">中国建设银行</h5>
                    <small class="text-muted">信用卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="ICBCW" id="option1">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/gsyh.png" width="36">
                    <h5 class="mb-0">中国工商银行</h5>
                    <small class="text-muted">贷／借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="ABCW" id="option3">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/nyyh.png" width="36">
                    <h5 class="mb-0">中国农业银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="BOCW" id="option4">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/zgyh.png" width="36">
                    <h5 class="mb-0">中国银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="CMBW" id="option5">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/zsyh.png" width="36">
                    <h5 class="mb-0">招商银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="CEBW" id="option5">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/gdyh.png" width="36">
                    <h5 class="mb-0">中国光大银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="COMMW" id="option5">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/jtyh.png" width="36">
                    <h5 class="mb-0">中国交通银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="SPDBW" id="option5">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/pfyh.png" width="36">
                    <h5 class="mb-0">中国浦发银行</h5>
                    <small class="text-muted">借记卡</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="WX" id="option1">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/wxzf.png" width="36">
                    <h5 class="mb-0">微信</h5>
                    <small class="text-muted">扫码支付</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="ali" id="option5">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/zfbzf.png" width="36">
                    <h5 class="mb-0">支付宝</h5>
                    <small class="text-muted">扫码支付</small>
                </label>
                <label class="btn btn-default">
                    <input type="radio" value="MONEY" id="option5">
                    <img class="img-circle mr-l" src="<?php echo $assets_server; ?>Front/Themes/<?php echo $themes_default; ?>/Img/xjzf.png" width="36">
                    <h5 class="mb-0">现金支付</h5>
                    <small class="text-muted">现金</small>
                </label>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <button type="button" class="btn btn-primary btn-block" onclick="submit_pay()">去支付 <i class="nc-icon-outline arrows-3_circle-simple-right"></i></button>
        </div>
        <br>
        <br>
    </form>
</main>
<script>
    var onClick = true;
    function submit_pay() {
        var value = $("#select_buttons").find('.active').find('input').attr('value');

        if (!value || !onClick)
            return false;

        if (value == 'WX') {
            alert('暂不支持此支付方式。');
            return false;
        }


        $("input[name=bank]").attr('value', value);

        onClick = false;

        if (value == 'ali') {
            $("#form_info").attr('action', '<?php echo $entrance; ?>route=Front/User/Pay/ali_pay');
        } else {
            $("#form_info").attr('action', '<?php echo $entrance; ?>route=Front/User/Pay/united_bank_pay');
        }

        $('#form_info').submit();
    }
</script>
<?php echo $footer_page; ?>