<?php echo $header_page; ?>
<body>
<!-- Mobiscroll JS and CSS Includes -->
<link href="<?php echo $assets_server; ?>Common/Js/mobisscroll3.0/css/mobiscroll.custom-3.0.0-beta2.min.css" rel="stylesheet" type="text/css" />
<script src="<?php echo $assets_server; ?>Common/Js/mobisscroll3.0/js/mobiscroll.custom-3.0.0-beta2.min.js" type="text/javascript"></script>

<header class="navbar navbar-fixed-top">
    <h4 class="navbar-text">我的预约详情</h4>
    <a href="<?php echo $entrance; ?>route=Front/User/Reservation" class="btn btn-link navbar-btn pull-left"><i class="nc-icon-outline arrows-1_minimal-left"></i> 返回</a>
</header>
<main class="main">
    <section class="panel">
        <div class="panel-body">
            <input type="hidden" name="reservation_id" value="<?php echo $reservation_info['reservation_id']; ?>" readonly/>
            <h4 class="mt-0"><?php echo $reservation_info['name']; ?></h4>
            <p class="text-muted"><i class="nc-icon-glyph location_pin text-primary"></i> 距离0.46km | <?php echo $reservation_info['address']; ?></p>
            <hr class="my-1l">
            <p>
                <span class="evaluation">
                    <?php if(!empty($reservation_info['score']) and !empty($reservation_info['score_count'])): ?>
                        <?php $show_score = $score; ?>
                        <?php for($i = 1; $i <= 5; $i++): ?>
                            <?php if(!empty($score)): ?>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-warning"></i>
                                <?php $score--; ?>
                            <?php else: ?>
                                <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                            <?php endif; ?>
                        <?php endfor; ?>
                    <?php else: ?>
                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                        <i class="nc-icon-glyph ui-2_favourite-31 text-muted"></i>
                    <?php endif; ?>
                </span>
                <span class="text-muted"> <?php echo $show_score; ?>分 <?php echo $evaluation; ?> | 有<?php echo $reservation_info['views']; ?>人访问</span>
            </p>
            <!--<hr class="my-1l">-->
            <p class="text-muted"><input name="description" class="form-control" value="<?php echo $reservation_info['description']; ?>" placeholder="请填写描述" maxlength="200"/></p>
        </div>
    </section>
    <div class="container-fluid">
        <!--<button type="button" href="#" class="btn btn-default btn-block"><i class="nc-icon-outline ui-2_time"></i> 请选择预约时间</button>-->
        <?php if($reservation_info['status'] == 1): ?>
            <input type="text" id="reservation_time" name="reservation_time" value="<?php echo $reservation_info['reservation_time']; ?>" placeholder="请选择预约时间" class="btn btn-default btn-block" readonly/>
            <button type="button" onclick="submit_info()" class="btn btn-primary btn-block"><i class="nc-icon-outline ui-1_check-circle-08"></i> 保存修改</button>
        <?php else: ?>
            <input name="reservation_time" value="<?php echo $reservation_info['reservation_time']; ?>" class="btn btn-default btn-block" readonly/>
            <br/>
            <section class="panel py-3 text-center text-muted">
                <!--<i class="nc-icon-outline ui-1_simple-add x2l"></i>-->
                <!--<h5>请上传维修照片</h5>-->
                <?php if(!empty($reservation_info['image_path'])): ?>
                <img class="img-responsive" src="<?php echo $reservation_info['image_path']; ?>"/>
                <?php elseif(!empty($reservation_info['audio_path'])): ?>
                <audio src="<?php echo $reservation_info['audio_path']; ?>" controls="controls"></audio>
                <?php else: ?>
                <video src="<?php echo $reservation_info['video_path']; ?>" controls="controls"></video>
                <?php endif; ?>
            </section>
        <?php endif; ?>
    </div>
</main>
<script>
    $(document).ready(function(){
        var status = parseInt('<?php echo $reservation_info[status]; ?>');
        if (status == 1) {
            // Mobiscroll Date & Time initialization
            $('#reservation_time').mobiscroll().datetime({
                theme: 'ios',      // Specify theme like: theme: 'ios' or omit setting to use default
                lang: 'zh',    // Specify language like: lang: 'pl' or omit setting to use default
                display: 'bottom', //Bubble // Specify display mode like: display: 'bottom' or omit setting to use default
                mode: 'datetimeInvalid', //datetimeDate,datetimeInvalid,datetimeTime        // More info about mode: https://docs.mobiscroll.com/3-0-0_beta2/datetime#!opt-mode
                dateFormat: 'yy-mm-dd',
                onSet: function (event, inst) {
                    var selectedDate = inst.getVal(); // Call the getVal method
                    //alert(selectedDate);
                    //mobiscroll.util.datetime.formatDate('yy-mm-dd', new Date(2015, 1, 19));
                    //mobiscroll.util.datetime.parseDate('yy-mm-dd', '2015-02-19');
                }
            });
        }
    });

    function submit_info()
    {
        var param = {
            reservation_id : $("input[name=reservation_id]").val(),
            reservation_time : $("input[name=reservation_time]").val(),
            description : $("input[name=description]").val()
        }

        st.post('<?php echo $entrance; ?>route=Front/User/Reservation/do_edit_reservation', param, function(data){
            if (data.status == -1) {
                var return_error = '';
                $.each(data.result, function(i, e) {
                    return_error = e;
                    return false;
                });
                alert(return_error);
                is_click = false;
            } else {
                window.location.href = "<?php echo $entrance; ?>route=Front/User/Reservation<?php echo $url; ?>";
            }
        });
    }
</script>

<?php echo $footer_page; ?>