<script type="text/javascript">
    $(document).ready(function(){
        document.onkeydown = function(e) {
            var ev = document.all ? window.event : e;
            if(ev.keyCode == 13) {
                $('#button-filter').trigger('click');
            }
        }

        $('#button-filter').on('click', function() {
            event.preventDefault();
            var search_param = $("#search_info").serializeArray();
            var search_url = '<?php echo $search_url; ?>';

            if (!!search_param) {
                $.each(search_param, function(i, v){
                    if (!!v.value) search_url += '&' + v.name + '=' + v.value;
                });
            }

            window.location.href = search_url;
        });
    });
</script>
</body>
</html>