<?php echo $header_page; ?>
<?php echo $left_page; ?>

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>首页</h1>
            <ul class="breadcrumb">
                <li><a href="<?php echo $entrance; ?>route=Front/Home/Home">首页</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <?php echo $order_page; ?>
            <?php echo $sale_page; ?>
            <?php echo $user_page; ?>
            <?php echo $online_page; ?>
        </div>
        <div class="row">
            <?php echo $activity_page; ?>
            <?php echo $new_order_page; ?>
        </div>
    </div>
</div>


<?php echo $footer_page; ?>