<div class="col-lg-3 col-md-3 col-sm-6">
    <div class="tile">
        <div class="tile-heading">
            在线人数
                    <span class="pull-right">
                        <?php if ($percentage > 0) { ?>
                        <i class="fa fa-caret-up"></i>
                        <?php } elseif ($percentage < 0) { ?>
                        <i class="fa fa-caret-down"></i>
                        <?php } ?>
                        0%
                    </span>
        </div>
        <div class="tile-body"><i class="fa fa-users"></i>
            <h2 class="pull-right">0</h2>
        </div>
        <div class="tile-footer">
            <a href="">
                查看更多
            </a>
        </div>
    </div>
</div>